:root {
    --standart-dark-gray: #171717;
    --standart-medium-gray: #414141;
    --standart-border-gray: #C1C1C1;
}

*{
    margin: 0;
    padding: 0;
    text-decoration: none;
    list-style: none;
}